{% extends 'tifoso/template.html.twig' %}
{% block utente %}
	<form method="post">
		<button type="submit" style=" background: transparent; border: transparent">{{ g.getNome() }}  {{ g.getCognome() }}</button></form>

{% endblock %}
{% block contenuto %}
	<div class="alert alert-success">
		<strong>Tifoso modificato con successo!</strong>
	</div>
{% endblock %}