{% extends 'tifoso/template.html.twig' %}
{% block contenuto %}
<div class="container col-md-10 col-lg-10">
    <div class="row col-md-12 col-lg-12">
            <div class="form-group">
                <label>{{  contenuto.getTitolo()}}</label>
            </div>
            <div class="form-group">
                <textarea style="border:none" rows="5" cols="100" readonly >{{ contenuto.getDescrizione()}}</textarea>
            </div>
            <img  src="{{ asset("ImmaginiApp/contenuti/") }}{{ contenuto.getURL() }}" class="img-rounded img-responsive" alt="immagine">
    </div>
</div>
{% endblock %}