{% extends 'tifoso/template.html.twig' %}
{% block contenuto %}
    <div class="container col-md-10 col-lg-10">
        <div class="row col-md-12 col-lg-12">
                <div class="form-group">
                    <label>{{  contenuto.getTitolo()}}</label>
                </div>
                <div class="form-group">
                    <label>{{ contenuto.getDescrizione()}}</label>
                </div>

                <video width="640" height="480" controls>
                    <source src="{{ asset("ImmaginiApp/contenuti/Video/") }}{{ contenuto.getURL() }}"  type="video/mp4">
                </video>
        </div>
    </div>
{% endblock %}