<form method="POST" action="account/Allenatore_Tifoso_Staff/aggiungi">
    <label>REGISTRAZIONE</label><br><br>
    Username<input type="text" name="u"><br><br>
    Password<input type="text" name="p"><br><br>
    Squadra<input type="text" name="s"><br><br>
</form>