{% extends 'guest/template.html.twig' %}
{% block contenuto %}
     <div class="row" style="margin-bottom:400px">
     <div class="col-lg-4"></div>
          <div class="col-lg-4 alert alert-success">
          <h1 style="text-align: center">Account con questo username già esiste</h1>
     </div>
     <div class="col-lg-4"></div>
     </div>
{% endblock %}