{% extends ":allenatore:template.html.twig" %}
{% block contenuto %}
    <div class="alert alert-success">
        <strong>Il messaggio è stato inviato con successo!</strong>
    </div>
{% endblock %}