{% extends 'giocatore/template.html.twig' %}

{% block contenuto %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> Richiami Multa
                    </div>
                        <ul id="chat" class="list-group">
                            {% for messaggio in messaggi %}
                                <li class="list-group-item"> <span>{{ messaggio.getTesto() }}</span>
                                    <h6>  {{ messaggio.getData() }} </h6>
                                    <strong> {{ messaggio.getNomeMittente()}} {{ messaggio.getCognomeMittente() }}</strong></li>
                            {% endfor %}
                        </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}