{% extends "allenatore/template.html.twig" %}
{% block contenuto %}


    <div>

        <h1>Scegli Calciatore</h1>
        <form action="/yourteam/web/app_dev.php/comunicazione/allenatore/ottieniRichiamoAvvertimentoView" method="post">
            <select name="calciatore_destinatario">
                {% for calciatore in calciatori %}
                    <option>
                        {{ calciatore }}
                    </option>
                {% endfor %}
            </select>

            <input type="submit" value="Invia"/>
        </form>


    </div>

{% endblock %}