{% extends "staff/template.html.twig" %}
{% block contenuto %}
    <h1>Scegli Calciatore</h1>

    <div>
        <form action="/comunicazione/allenatore/ottieniMessaggioChatView" method="post">
            <select name="calciatore_destinatario">
                {% for calciatore in calciatori %}
                    <option>
                        {{ calciatore }}
                    </option>
                {% endfor %}
            </select>

            <input type="submit" value="Invia"/>
        </form>


    </div>

{% endblock %}