{% extends 'allenatore/template.html.twig' %}
{% block contenuto %}
<div class="container">
    <div class="col-md-6 col-lg-6">
        <div class="panel">
            <!--Heading-->
            <div class="panel-heading">
                <div class="panel-control">
                </div>
            </div>

            <div class="container">
                <div class="col-md-6 col-lg-6">
                <div id="richiamo">
                    <h1>Richiamo Salute:</h1>
                </div>
                <br><br>
                <div class="row">
                </div>
                </div>
            </div>
            <div class="row">
                <div class='col-lg-6'>
                    <div class="form-group">
                        <form action="/yourteam/web/app_dev.php/comunicazione/allenatore/inviaRichiamoDieta" method="post">
                            <fieldset>
                                <legend>Dieta:</legend>
                                <label id="dieta">
                                    Ti consiglio di migliorare e fare attenzione alla tua dieta.
                                </label>
                                <br>
                                <input type="hidden" value="{{ d }}" name="d">

                                <input name ="dieta" type="hidden" value="Migliora il tuo stile alimentare se vuoi continuare ad essere preso in considerazione" readonly="readonly">

                                <input type="submit" class="btn btn-default" value="Invia">
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class='col-lg-6'>
                    <div class="form-group">
                        <form action="/yourteam/web/app_dev.php/comunicazione/allenatore/inviaRichiamoAllenamento" method="post">
                            <fieldset>
                                <legend>Allenamento:</legend>
                                <label id="allenamento">
                                    Ti consiglio di migliorare il tuo regime di allenamento.
                                </label>
                                <br>
                                <input type="hidden" value="{{ d }}" name="d">

                                <input name ="allenamento" type="hidden" value="Migliora il tuo regime di allenamento se vuoi continuare ad essere preso in considerazione per gli 11 titolari" readonly="readonly">

                                <input type="submit" class="btn btn-default" value="Invia">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

        </div>




    </div>
</div>
{% endblock %}