{% extends "allenatore/template.html.twig" %}
{% block contenuto %}
    <h1>Scegli calciatore per fissare un colloquio a voce</h1>

    <br>

    <div>
        <form action="{{ path('ottienivoceview') }}" method="post">
            <select name="calciatore_destinatario">
                {% for calciatore in calciatori %}
                    <option value="{{ calciatore.getContratto() }}">
                        {{ calciatore.getNome() | capitalize }}&nbsp;{{ calciatore.getCognome() | capitalize }}
                    </option>
                {% endfor %}
            </select>

            <button type="submit" class="btn btn-default">Invia</button>
        </form>


    </div>

{% endblock %}