{% extends 'allenatore/template.html.twig' %}
{% block contenuto %}
<div class="container">

    <div class="col-md-6 col-lg-6">
        <div class="panel">
            <!--Heading-->
            <div class="panel-heading">
                <div class="panel-control">
                </div>
            </div>



            <div class="container">
                <div class="col-md-6 col-lg-6">
                <div id="richiamo">
                    <h1>Richiamo comportamentale:</h1>
                </div>
                <br><br>
                <div class="row">

                </div>
                </div>
            </div>
            <div class="row">
                <div class='col-lg-6'>
                    <div class="form-group">
                        <form action="/yourteam/web/app_dev.php/comunicazione/allenatore/inviaRichiamoMulta" method="post">
                            <fieldset>
                                <legend>Multa:</legend>
                                <label id="multa">
                                    Sei stato multato per comportamenti scorretti. Per chiarimenti mi trovi nel mio ufficio.
                                </label>
                                <br>
                                <input type="hidden" value="{{ d }}" name="d">

                                <input name ="multa" type="hidden" value="Sei stato multato per comportamenti scorretti. Per chiarimenti mi trovi nel mio ufficio." readonly="readonly">

                                <input type="submit" class="btn btn-default" value="Invia">
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class='col-lg-6'>
                    <div class="form-group">
                        <form action="/yourteam/web/app_dev.php/comunicazione/allenatore/inviaRichiamoAvvertimento" method="post">
                            <fieldset>
                                <legend>Avvertimento:</legend>
                                <label id="avvertimento">
                                    Volevo avvisarti che il tuo comportamento, se non modificato, potrà avere delle conseguenze
                                </label>
                                <br>
                                <input type="hidden" value="{{ d }}" name="d">

                                <input name ="avvertimento" type="hidden" value="Volevo avvisarti che il tuo comportamento portà portare a delle conseguenze." readonly="readonly">
                                <input type="submit" class="btn btn-default" value="Invia">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}