<div class="container">
    <div class="col-md-6 col-lg-6">
        <div class="panel">
            <!--Heading-->
            <div class="panel-heading">
                <div class="panel-control">
                </div>
            </div>

            <div class="container">
                <div class="col-md-6 col-lg-6">
                <div id="richiamo">
                    <h1>Richiamo Salute:</h1>
                </div>
                <br><br>
                <div class="row">
                </div>
                </div>
            </div>
            <div class="row">
                <div class='col-lg-6'>
                    <div class="form-group">
                        <form action="/comunicazione/allenatore/inviaRichiamoDieta" method="post">
                            <fieldset>
                                <legend>Dieta:</legend>
                                <label>
                                    Ti consiglio di migliorare e fare attenzione alla tua dieta.
                                </label>
                                <br>
                                <input name="dieta" type="submit" class="btn btn-default">
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class='col-lg-6'>
                    <div class="form-group">
                        <form action="/comunicazione/allenatore/inviaRichiamoAllenamento" method="post">
                            <fieldset>
                                <legend>Allenamento:</legend>
                                <label>
                                    Ti consiglio di migliorare il tuo regime di allenamento.
                                </label>
                                <br>
                                <input name="allenamento" type="submit" class="btn btn-default">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

        </div>




    </div>
</div>