{% extends "allenatore/template.html.twig" %}
{% block contenuto %}
    <h1>Scegli Calciatore</h1>

    <div>
        <form action="/yourteam/web/app_dev.php/comunicazione/allenatore/ottieniRichiamoDietaView" method="post">
            <select name="calciatore_destinatario">
                {% for calciatore in calciatori %}
                    <option>
                        {{ calciatore }}
                    </option>
                {% endfor %}
            </select>

            <input type="submit" value="Invia"/>
        </form>


    </div>

{% endblock %}