{% extends 'staff/template.html.twig' %}
{% block utente %}
    <form method="post">
        <button type="submit" style=" background: transparent; border: transparent">{{ staff.getNome() }}  {{ staff.getCognome() }}</button></form>

{% endblock %}
{% block contenuto %}
    <div class="alert alert-success">
        <strong>L'account è stato eliminato!</strong>
    </div>
{% endblock %}

