{% extends 'staff/template.html.twig' %}
{% block contenuto %}
    <div class="alert alert-success">
        <strong>Success!</strong> Il contenuto è stato inserito con successo
    </div>
{% endblock %}