<form class="inserisci-statistiche-partita" action="{{ path("inserisciStatistichePartita") }}" method="post">
    <input type="hidden" name="nome" value="{{ partita.getNome() }}">
    <input type="hidden" name="data" value="{{ partita.getDataString() }}">

    <div>
        <span>
            <label>Gol Fatti</label>
            <input type="number" min="0" name="golfatti" required="required">
        </span>
        <span>
            <input type="number" min="0" name="golsubiti" required="required">
            <label>Gol Subiti</label>
        </span>
    </div>

    <div>
        <label>Possesso Palla</label>
        <input type="number" min="0" name="possessopalla" required="required">
    </div>

    <div class="marcatori">
        <label>Marcatori</label>
        <button type="button" class="fa fa-plus marcatori"></button>
    </div>

    <div class="assistmen">
        <label>Assist Men</label>
        <button type="button" class="fa fa-plus assistmen"></button>
    </div>

    <div class="ammonizioni">
        <label>Ammonizioni</label>
        <button type="button" class="fa fa-plus ammonizioni"></button>
    </div>

    <div class="espulsioni">
        <label>Espulsioni</label>
        <button type="button" class="fa fa-plus espulsioni"></button>
    </div>

    <input type="submit" value="salva">
</form>