<form>
    <input type="hidden" name="nome" value="{{ partita.getNome() }}">
    <input type="hidden" name="data" value="{{ partita.getDataString() }}">
    <div>
            <span>
                <label>Gol Fatti</label>
                <input type="number" min="0" name="golfatti">
            </span>
        <span>
                <input type="number" min="0" name="golsubiti">
                <label>Gol Subiti</label>
            </span>
    </div>

    <div>
        <label>Possesso Palla</label>
        <input type="number" min="0" name="possessopalla">
    </div>

    <div>
        <label>Marcatori</label>
        <button type="button" class="fa fa-plus marcatori"></button>
    </div>

    <div>
        <label>Assist Men</label>
        <button type="button" class="fa fa-plus assistmen"></button>
    </div>

    <div>
        <label>Ammonizioni</label>
        <button type="button" class="fa fa-plus ammonizioni"></button>
    </div>

    <div>
        <label>Espulsioni</label>
        <button type="button" class="fa fa-plus espulsioni"></button>
    </div>

    <div>
        <button type="submit">Salva</button>
    </div>
</form>