{% extends 'staff/template.html.twig' %}
{% block contenuto %}
    <h1>Form filtra calciatori</h1>

    <form action="/statistiche/user/calciatore/filter/submit" method="post">

        <div>
            <label for="tiri_totali">Tiri Totali</label>
            <input id="tiri_totali" type="number" name="tiri_totali"><br/>
        </div>

        <div>
            <label for="tiri_porta">Tiri in Porta</label>
            <input id="tiri_porta" type="number" name="tiri_porta"><br/>
        </div>

        <div>
            <label for="falli_fatti">Falli Fatti</label>
            <input id="falli_fatti" type="number" name="falli_fatti"><br/>
        </div>

        <div>
            <label for="falli_subiti">Falli Subiti</label>
            <input id="falli_subiti" type="number" name="falli_subiti"><br/>
        </div>

        <div>
            <label for="percentuale_passagii_riusciti">Percentuale Passaggi Riusciti</label>
            <input id="percentuale_passagii_riusciti" type="number" name="percentuale_passagii_riusciti"><br/>
        </div>

        <div>
            <label for="gol_fatti">Gol Fatti</label>
            <input id="gol_fatti" type="number" name="gol_fatti"><br/>
        </div>

        <div>
            <label for="gol_subiti">Gol Subiti</label>
            <input id="gol_subiti" type="number" name="gol_subiti"><br/>
        </div>

        <div>
            <label for="assist">Assist</label>
            <input id="assist" type="number" name="assist"><br/>
        </div>

        <div>
            <label for="ammonizioni">Ammonizioni</label>
            <input id="ammonizioni" type="number" name="ammonizioni"><br/>
        </div>

        <div>
            <label for="espulsioni">Espulsioni</label>
            <input id="espulsioni" type="number" name="espulsioni"><br/>
        </div>

        <div>
            <input type="submit" value="Salva">
        </div>
    </form>
{% endblock %}