{% extends 'staff/template.html.twig' %}
{% block head %}
{% endblock %}

{% block contenuto %}

    <div id="accordion" class="panel-group" role="tablist">
        {% for partita in partite %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <button class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                data-target="#{{ loop.index }}">
                            {{ partita.getNome() }}
                        </button>
                    </h4>
                </div>

                <div id="{{ loop.index }}" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                        <p>AAAAAAAAAAAAAAAAAAAAAAAAAA</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}