{% extends 'staff/template.html.twig' %}
{% block contenuto %}
    <div class="row">
        <div class="col-md-6 col-lg-6" style="border: double">
            <a> <img src="" class="img-rectangle" alt="immagine"></a>
        </div>
        <div class="col-md-6 col-lg-6" style="border: double">
            <a> <img src="" class="img-rectangle" alt="immagine"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6" style="border: double">
            <a> <img src="" class="img-rectangle" alt="immagine"></a>
        </div>
        <div class="col-md-6 col-lg-6" style="border: double">
            <a> <img src="" class="img-rectangle" alt="immagine"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6" style="border: double">
            <a> <img src="" class="img-rectangle" alt="immagine"></a>
        </div>
        <div class="col-md-6 col-lg-6" style="border: double">
            <a> <img src="" class="img-rectangle" alt="immagine"></a>
        </div>
    </div>
{% endblock %}